<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cadastro</title>
    
    <!-- Incluindo o Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <a class="navbar-brand" href="/">
        <img src="http://www.avmpmpr.com.br/site/wp-content/uploads/2018/11/cadastro.png" width="30" height="30" alt="" href="/">
        Sistema de Cadastro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/alunos/formulario">| Cadastro</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/alunos">| Lista</a>
      </li>
      {{#if user}}
        <li class="nav-item active">
          <a class="nav-link" href="/administrador/lista">| Lista de Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/administrador/registro">| Criar Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link disabled" href="#">| Usuário logado: {{user.nome}}</a>
        </li>
        <li class="nav-item active justify-content-end">
           
          <a class="nav-link" href="/administrador/sair"> <img src=" https://icons.veryicon.com/png/o/miscellaneous/fusion-number/logout-40.png" width="30" height="30" alt="" href="/administrador/sair"></a>
        </li>
      {{else}}
          <li class="nav-item active">
            
            <a class="nav-link" href="/administrador/login"> <img src="https://icons.veryicon.com/png/o/photographic/ant-design-official-icon-library/login-6.png" width="30" height="30"></a>

          </li>
      {{/if}}
        </ul>
      </div>
      </div>
    </nav>
    
    <!-- Incluindo o Bootstrap JS (requer o jQuery) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
